.container-canvas {
    position: relative;
}

.canvas-cover {
    width: 100%;
    height: 99%;
    position: absolute;
    background-color: var(--grayT);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container-buttons button {
    background-color: #525252;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 20px;
    color: yellow;
    font-size: 30px;
    font-family: inherit;
    font-weight: 700;
}

.container-party-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.container-party-info h1 {
    width: 100%;
    margin: 0;
}

.container-party  h2, .container-party span{
    width: 100%;
    display: block;
    border-radius: 5px;
    text-align: center;
    background-color: #525252;
    color: white;
}

.container-game {
    gap: 10px;
    display: flex;
}

.container-game span{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    font-size: 50px;
    color: white;
}

.container-game span span {
    color: yellow;
}

.container-money {
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.container-money span {
    width: 100%;
    display: block;
    background-color: #525252;
    color: yellow;
    border-radius: 5px;
    font-size: 30px;
}
