#root {
  font-family: "Protest Guerrilla";
}

#canvas {
  border: 2px solid black;
  background-color: var(--green);
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 20px;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  background: url('assets/images/camuflaje3.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container h1 {
  color: white;
  background-color: #525252;
  text-align: center;
  font-size: 60px;
  border-radius: 10px;
  width: 50%;
}



