:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --green: #7AA642;
  --grayT: #52525266 ; 
}

body {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}